syntax: glob
.gradle/*
.idea/*
build/*
gradle/*
*.iml
app/build/*
*.log
*.orig
*.rej
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/.idea/
app/local.properties
app/gradle/
app/src/main/res/layout/left_menu_list_item.xml
